[submodule "bas-web-ser-backend"]
	path = bas-web-ser-backend
	url = https://github.com/arikekalainen/bas-web-ser-backend.git
[submodule "bas-web-ser-typedefinitions"]
	path = bas-web-ser-typedefinitions
	url = https://github.com/arikekalainen/bas-web-ser-typedefinitions.git
[submodule "bas-web-ser-example-app"]
	path = bas-web-ser-example-app
	url = https://github.com/arikekalainen/bas-web-ser-example-app.git
[submodule "base-element"]
	path = base-element
	url = https://github.com/arikekalainen/base-element
[submodule "x-element"]
	path = x-element
	url = https://github.com/arikekalainen/x-element
